{% extends 'layout/layout.html' %}
{% load static %}
{% load socialaccount %}
  {% providers_media_js %}
{% block cssBody %}
<link id="theme-style" rel="stylesheet" href="{% static "/assets/css/blog-post.css" %}">
<link id="theme-style" rel="stylesheet" href="{% static "/assets/css/comment.css" %}">
    
{% endblock %}


{% block mainBody%}
	    
	<article class="blog-post px-3 py-5 p-md-5">
		<div class="container">
			<header class="blog-post-header">
				<h2 class="title mb-2">{{ posts.title }}</h2>
				<div class="meta mb-3"><span class="date">Published on: {{ posts.publish_date|date:'l,N,Y' }}</span><span class="time">5 min read</span><span class="comment"><a href="#">{{posts.comment_count}} comments</a></span></div>
			</header>
			<hr/>
			<div class="blog-post-body">
				<figure class="blog-banner">
					<a href="https://made4dev.com"><img class="img-fluid" src="{{ posts.banner_image.url }}" alt="image" %}"></a>
					<figcaption class="mt-2 text-center image-caption">Source Code : <a href="{{posts.reference_url}}" target="_blank">Get More reference from here</a></figcaption>
				</figure>
				<hr/>
				<p>  {{ posts.summary | safe }} </p>
				<hr/>

				{% if posts.image %}
				<figure class="blog-banner">
					<a href="https://made4dev.com"><img class="img-fluid" src="{{ posts.image.url }}" alt="image" %}"></a>
				</figure>
				<hr/>
				{% endif %}
				<!-- Sub headings-->

{% if posts.code %}		
<pre class="pre-scrollable">
<code>
{{posts.code}}
</code>
</pre>
<hr/>
{% endif %}


{% if posts.code_image %}
<div class="item">
	<div class="media">
		<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{posts.code_image.url }}" alt="image">
	</div><!--//media-->
</div><!--//item-->
<hr/>
{% endif %}

{% if posts.output %}	
<header class="blog-post-header">
	<h4 class="title mb-2">Output</h4>
</header>
<samp>
	{{posts.output}}
</samp>
<hr/>
{% endif %}

{% if posts.output_image %}
<h4 class="title mb-2">Output</h4>
<div class="item">
	<div class="media">
		<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{posts.output_image.url }}" alt="image">
	</div><!--//media-->
</div><!--//item-->
<hr/>
{% endif %}

				{% for data in postDetail %}

				<h3 class="mt-5 mb-3">{{data.title}}</h3>
				<p> {{data.summary | safe}} </p>
				<hr/>
				{% if data.image %}
				<div class="item">
					<div class="media">
						<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{data.image.url }}" alt="image">
					</div><!--//media-->
				</div><!--//item-->
				<hr/>
				{% endif %}
{% if data.code %}		
<pre class="pre-scrollable">
<code>
{{data.code}}
</code>
</pre>
<hr/>
{% endif %}

{% if data.code_image %}
<div class="item">
	<div class="media">
		<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{data.code_image.url }}" alt="image">
	</div><!--//media-->
</div><!--//item-->
<hr/>
{% endif %}

{% if data.output %}	
<header class="blog-post-header">
	<h4 class="title mb-2">Output</h4>
</header>
<samp>
	{{data.output}}
</samp>
<hr/>
{% endif %}

{% if data.output_image %}
<h4 class="title mb-2">Output</h4>
<div class="item">
	<div class="media">
		<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{data.output_image.url }}" alt="image">
	</div><!--//media-->
</div><!--//item-->
<hr/>
{% endif %}


{% endfor %}
				<!--
				<h3 class="mt-5 mb-3">Video Example</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>

				<div class="embed-responsive embed-responsive-16by9">
				   <iframe width="560" height="315" src="https://www.youtube.com/embed/hnCmSXCZEpU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>					
				</div>
			   
			</div>
				
			<nav class="blog-nav nav nav-justified my-5">
			  <a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
			  <a class="nav-link-next nav-item nav-link rounded-right" href="blog-list.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
			</nav>>
			-->
			<h1> >>>>>Thank you for reading>>>>>>></h1>

			<section class="promo-section theme-bg-light py-5 text-center">
				<div class="container">
					<h2 class="title">Promo Section Heading</h2>
					<p>You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
					<figure class="promo-figure">
						<a href="https://made4dev.com" target="_blank"><img class="img-fluid" src= "{% static "assets/images/promo-banner.jpg" %} " alt="image"></a>
					</figure>
				</div><!--//container-->
			</section><!--//promo-section-->

				<!--=====================Modal=====================-->
				{% csrf_token %}
				<input type="hidden" value="{{posts.id}}" name ="postId"/>
				{% if request.user.is_authenticated %}
				<input type="hidden" value="{{user.id}}" name = 'commenter'/>
				{% else %}
				<input type="hidden" value="" name = 'commenter'/>
				{% endif %}
				
<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Please login to write comments</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
			<a href="{% provider_login_url "google" %}" class="btn btn-google btn-user btn-block">
				<i class="fab fa-google fa-fw"></i> Login with Google
			  </a>
        </div>
        <div class="md-form mb-4">
			<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-facebook btn-user btn-block">
				<i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
			  </a>
			   
        </div>
      </div>
      
    </div>
  </div>
</div>

<!-- <div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm">Launch
    Modal Subscription Form</a>
</div> -->
				<!--=========================Modal end========================-->


			<div class="blog-comments-section">
				<div class="row">
					<div class="col-12">
					  <div class="comments">
						<div class="comments-details">
						  <span class="total-comments comments-sort">117 Comments</span>
						   
						</div>
						<div class="comment-box add-comment">
						  <span class="commenter-pic">
							<img src="{% static "assets/images/avatar.jpg" %}" class="img-fluid">		
						  </span>
						  <span class="commenter-name">
							<input type="text" placeholder="Add a public comment" name="comments" id ="add-commentId" >
							
							<button type="submit" class="btn btn-default" id ="commentBtn">Comment</button>
							<!-- <button type="cancel" class="btn btn-default">Cancel</button> -->
						  </span>
						</div>
						
					
						{% for cmt in comments%}
						<div class="comment-box">
						  <span class="commenter-pic">
							<img src="{% static "assets/images/avatar.jpg" %}" class="img-fluid">
						  </span>
						  <span class="commenter-name">
							<a href="#">{{cmt.user_name}}</a> <span class="comment-time">{{cmt.comment_date}}</span>
						  </span>       
						  <p class="comment-txt more">{{cmt.comment}}</p>
						  <div class="comment-meta">
							<button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
							<button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
							<button class="comment-reply reply-popup" id = {{cmt.comment_id}}><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>         
						  </div>
						

						  <div class="comment-box add-comment reply-box" id = "rep_{{cmt.comment_id}}">
							<span class="commenter-pic">
								<img src="{% static "assets/images/avatar.jpg" %}" class="img-fluid">
							</span>
							<span class="commenter-name">
							  <input type="text" placeholder="Add a public" class="commentReply" name="replyComment" id = "replyComment_{{cmt.comment_id}}">
							  <button type="button" class="btn btn-default replybtn" id = {{cmt.comment_id}}>Reply</button>
							  <!-- <button type="cancel" class="btn btn-default reply-popup" id = {{cmt.comment_id}}>Cancel</button> -->
							</span>
						  </div>
						
						  {% if cmt.reply %}
						  {% for rep in cmt.reply %}
						  <div class="comment-box replied">
							<span class="commenter-pic">
								<img src="{% static "assets/images/avatar.jpg" %}" class="img-fluid">
							</span>
							<span class="commenter-name">
							  <a href="#">{{rep.user_name}}</a> <span class="comment-time">{{rep.comment_date}}</span>
							</span>       
							<p class="comment-txt more">{{rep.comment}}</p>
							<!-- <div class="comment-meta">
							  <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
							  <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
							  <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>         
							</div> -->

						  </div>
						 
						  {% endfor %}
						  {% endif %}

						</div>
						{% endfor %}
					

					  </div>
					</div>
				  </div>
				
				
			</div><!--//blog-comments-section-->
			
		</div><!--//container-->
	</article>
	
	<!--- Pop up Modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">Thansk you for your valuable comment.</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		 Thank you for your valuable comment.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary closeModel" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

<!-- Popup modal end-->
	

{% endblock %}

{% block jsScript %}
<script src="{% static "assets/js/comment.js" %} "></script>


{% endblock %}
