
{% extends 'layout/layout.html' %}

{% block mainBody%}
{% load static %}

	<section class="cta-section theme-bg-light py-5">
		<div class="container text-center">
			<h2 class="heading">DevBlog - A Blog Template Made For Developers </h2>
			<div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			
			{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<span id="success"></span>
			{% endif %}
			{% endfor %}
			
			{% include 'component/subscription.html' %}  <!-- Subscription-->
		</div><!--//container-->
		
	</section>
	<section class="blog-list px-3 py-5 p-md-5">
		<div class="container">

			{% for post in posts %}
			<!-- <div class="item mb-5">
				<div class="media">
					<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{post.banner_image.url }}" alt="image">
					<div class="media-body">
						<h3 class="title mb-1"><a href= {% url 'post_detail' post.slug %}>{{ post.title}}</a></h3>
						<div class="meta mb-1"><span class="date">{{ post.publish_date }}</span><span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>
						<div class="intro">{{ post.summary |striptags | slice:"250"}}....</div>
						<a class="more-link" href="post_detail/{{post.slug}}">Read more &rarr;</a>
					</div>
				</div>
			</div> -->
			{% include 'component/post-list.html' with blogPost=post %} <!-- carefull about white space-->
			{% endfor %}


			<div class="item mb-5">
				<div class="media">
					<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{% static "assets/images/blog/blog-post-thumb-2.jpg" %} " alt="image">
					<div class="media-body">
						<h3 class="title mb-1"><a href="{% static "blog-post.html" %}">A Guide to Becoming a Full-Stack Developer</a></h3>
						<div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">3 min read</span><span class="comment"><a href="#">26 comments</a></span></div>
						<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						<a class="more-link" href="{% static "blog-post.html" %}">Read more &rarr;</a>
					</div><!--//media-body-->
				</div><!--//media-->
			</div><!--//item-->
			
			<div class="item mb-5">
				<div class="media">
					<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src= "{% static "assets/images/blog/blog-post-thumb-3.jpg" %}" alt="image">
					<div class="media-body">
						<h3 class="title mb-1"><a href="{% static "blog-post.html" %}">High Performance JavaScript</a></h3>
						<div class="meta mb-1"><span class="date">Published 1 month ago</span><span class="time">8 min read</span><span class="comment"><a href="#">12 comments</a></span></div>
						<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						<a class="more-link" href="{% static "blog-post.html" %}" >Read more &rarr;</a>
					</div><!--//media-body-->
				</div><!--//media-->
			</div><!--//item-->
			<div class="item mb-5">
				<div class="media">
					<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{% static "assets/images/blog/blog-post-thumb-4.jpg" %}" alt="image">
					<div class="media-body">
						<h3 class="title mb-1"><a href="{% static "blog-post.html" %}">Top 5 JavaScript Frameworks</a></h3>
						<div class="meta mb-1"><span class="date">Published 2 months ago</span><span class="time">15 min read</span><span class="comment"><a href="#">3 comments</a></span></div>
						<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						<a class="more-link" href="{% static "blog-post.html" %}">Read more &rarr;</a>
					</div><!--//media-body-->
				</div><!--//media-->
			</div><!--//item-->
			
			<div class="item mb-5">
				<div class="media">
					<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{% static "assets/images/blog/blog-post-thumb-5.jpg" %} " alt="image">
					<div class="media-body">
						<h3 class="title mb-1"><a href="blog-post.html">Learn React in 24 Hours</a></h3>
						<div class="meta mb-1"><span class="date">Published 2 months ago</span><span class="time">10 min read</span><span class="comment"><a href="#">23 comments</a></span></div>
						<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						<a class="more-link" href="blog-post.html">Read more &rarr;</a>
					</div><!--//media-body-->
				</div><!--//media-->
			</div><!--//item-->
			
			<div class="item">
				<div class="media">
					<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{% static "assets/images/blog/blog-post-thumb-6.jpg" %} " alt="image">
					<div class="media-body">
						<h3 class="title mb-1"><a href="blog-post.html">About Remote Working</a></h3>
						<div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">2 min read</span><span class="comment"><a href="#">1 comment</a></span></div>
						<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						<a class="more-link" href="blog-post.html">Read more &rarr;</a>
					</div><!--//media-body-->
				</div><!--//media-->
			</div><!--//item-->
			<!--
			<nav class="blog-nav nav nav-justified my-5">
				{% if posts.has_previous %}
				<a class=" nav-link-prev nav-item nav-link  rounded-left href="?page={{ posts.previous_page_number }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				{% endif %}

				{% if posts.has_next %}
				<a class=" nav-link-next nav-item nav-link rounded-left " href="?page={{ posts.next_page_number }}"></a>Next22<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
				{% endif %}
			  </nav>
			-->
			<div >
			
				<ul class="pagination justify-content-center" >
					{% if posts.has_previous %}
						<!--<a href="?page=1">&laquo; first</a> -->
					<l1 class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link">previous</a></l1>
					{% endif %}
			
					{% for pg in posts.paginator.page_range %}
					{% if posts.number == pg%}
					<li class="page-item active"><a href="?page={{ pg }}" class="page-link">{{pg}}</a> </li>
					{% else %}
					<li class="page-item"><a href="?page={{ pg }}" class="page-link">{{pg}}</a> </li>
					{% endif %}
					{% endfor %}
					{% if posts.has_next %}
				<l1 class="page-item" ><a href="?page={{ posts.next_page_number }}" class="page-link">next</a></l1>
					{% endif %}
				</ul>
			</div>
			
		</div>
	</section>

<!--- Pop up Modal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">Thansk you for Subscription.</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  We will Notify you whenever we make new post.
		  I hope you will keep enjoying my post.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

<!-- Popup modal end-->
	
{% endblock %}

{% block jsScript %}

{% endblock %}

