<div class="item mb-5">
    <div class="media">
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{post.banner_image.url }}" alt="image">
        <div class="media-body">
            <!-- <h3 class="title mb-1"><a href= {% url 'post_detail' post.slug %}>{{ blogPost.title}}</a></h3> -->
            <h3 class="title mb-1"><a href="{{blogPost.get_absolute_url}}">{{ blogPost.title}}</a></h3>
            <div class="meta mb-1"><span class="date">{{ blogPost.publish_date }}</span><span class="time">5 min read</span><span class="comment"><a href="#">{{blogPost.comment_count}} comments</a></span></div>
            <div class="intro">{{ blogPost.summary |striptags | slice:"250"}}....</div>
            <!-- <a class="more-link" href="post_detail/{{post.slug}}">Read more &rarr;</a> -->
            <a class="more-link" href="{{blogPost.get_absolute_url}}">Read more &rarr;</a>
        </div><!--//media-body-->
    </div><!--//media-->
</div><!--//item-->